body
{
   font-family:  Tahoma,Geneva,sans-serif;
    color: #fff;
        background-image: url(only.jpeg);
    background-size: cover;
	  background-attachment: fixed;
  background-position: center; 
    
}
.tiketa
{
    background: rgba(160, 26, 26, 0.85);
    padding: 40px;
    width: 270px;
    height: 535px;
    margin-top: 90px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 90px;

}
.sty{
  color:#fff;
  padding: 8px 16px;
  background-color:#B22222;
  border: 1px solid transparent;
  border-color: white;

}
form
{
   width: 240px;
    text-align: center;
}
input
{
     width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: "Play",sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=submit]
{
    border: none;
    width: 190px;
    background: white;
    color: rgb(114, 10, 10);
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    
}
input[type=submit]:hover{
    color:#B22222;
    background-color: black;
}
h2
{
    color:rgb(231, 7, 7);
}
::placeholder
{
    color: aliceblue;
    opacity: 0.8;
}
