* {
  box-sizing: border-box;
}

body {
line-height:1.2em;
  font-family: Arial;
 
}
 .pstyle{
 line-height:1.5em;
 width:98%;
word-wrap:break-word;}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {

  margin-right:-5px;
  margin-left:-5px;
}

.row,
.row > .column {
  padding: 6px;

}

.column {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
  background-color: white;
  padding: 10px;
  }
  


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
