
.button19{margin-left: 50px;
  background-color: rgb(112, 6, 6);
  width: 150px;
   height: 40px;
   margin-top:0px ;
  border: 1px solid rgb(0, 0, 0);

}

#result{
  color: white;margin-left: 50px;
}

.trans{color:white;
  font-size:30px;
  margin-left: 40px;

}


.perkthimi{

  margin-left:50px;
  margin-bottom:5px ;
  background-color: white;
  color:black;
      width: 100px; 
      height: 40px;
}
.grid-container {   
  background-image: url("vija.png");
  background-repeat: repeat;
  background-size: 50 50;


        display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    color: rgb(255, 255, 255);
    padding: 10px;
  }
  .grid-item {
     padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container .grid-item p {
    color:white;
  }

