body{
	background-color: black;
}

.con {
  position: relative;
}

.center {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191919;
  color: white;
  font-size: 16px;
  padding: 8px 25px;
  border: none;
  cursor: pointer;
  border-radius: 13px;
  text-align: center;
  font-weight: bold;
  opacity:1;
}
.center:hover ,
.buttonstyle:hover,
.buttonstyle1:hover{
	 opacity:0.6;
	 background-color: #8B0000;
}

.img1 { 
  display: block;
  margin-left: 150px;
  margin-right: 30px;
  opacity: 0.7;
  width:1280px;
  height:610px;
 }
 .img1:hover{
 	opacity:0.6;
 }

 .row1{
 	column-count:2;
    column-gap:0;
    margin-top: 40px;
 }

 .woman {
  margin-left: 5px;
  margin-right: auto;
  width:98%;
  height:400px;
}
.u18{
  margin-left: 15px;
  margin-right: auto;
  width:98%;
  height:400px;
}

.buttonstyle{
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 9px;
  background-color: #191919;
  color: white;
  padding: 4px 20px;
  border: none;
  cursor: pointer;
  border-radius: 13px;
  text-align: center;
  font-weight: bold;
  opacity:1;
}
#buttonstyle{
  top: 157%;
  left: 45%;
}

#buttonstyle1{
  top: 157%;
  left: 96%;
}
#buttonstyle2{
  top: 212.5%;
  left: 45%;
}

#buttonstyle3{
  top: 212.5%;
  left: 96%;
}

.sip1 {
  margin-left: 300px;
  margin-right: 300px;
  height: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;

  
}
.sip2 {
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
  background:-webkit-linear-gradient(left,#8B0000,black,black); 
}
.fontshadow{
  color: white;
  text-shadow: 4px 4px 4px red;
}
