.mySlides {  display: none;}
img {vertical-align: middle;
width:1000px;
height:565px;
border-radius: 0px;
}
.slideshow {
width: 100%;
 position: relative;
  margin:auto;
}
.text {
    font-family: "Times New Roman", Georgia, serif;
  padding: 8px 12px;
  position: relative;
  bottom: 35px;
  width: 100%;
  text-align: center;
  background: rgba(31, 30, 30, 0);
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: white;
  text-shadow: 0 0 3px #FF0000;
  
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #800000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 1px solid #800000;
}

.active {
  background-color: #ffffff ;
}
