.mySlides {  display: none;}
img {vertical-align: middle;
width:1000px;
height:450px;
border-radius: 0px;
}
.slideshow {
width: 100%;
 position: relative;
  margin:auto;
}
.text {
    color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 35px;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.5);
  
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #800000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 2px solid #800000;
}

.active {
  background-color: #ffffff ;
}
