#imazhet{
float:left;
margin-right:0.20in;
margin-left:0.20in;
border: solid 1px #D1D1D1;
padding: 0.25em ; 
 height:80px; 
 width:80px;
 border-radius:0;
}
.paragrafi{text-align:left;
line-height:1.4em;
font-family:"Times New Roman","Courier New",sans-serif;
color:gray;
width:100%;
word-wrap:break-word;

}
.titulli{
font-family:"Times New Roman","Courier New",sans-serif;
text-align:center;
font-size:85px;
color:black;
font-weight:lighter;
margin-top:15px;
margin-bottom:0px;

}
.redbig{
	color:#800000;
	font-family: Bookman Old Style;
}
.d1{
font-family:"Times New Roman","Courier New",sans-serif;
font-style:italic;
font-size:35px;
color:#404040;
text-align:center;
line-height:0.3em;

}
button{
border: 1px solid;
    border-bottom: 1px solid;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color:#800000;
    padding: 0.5em 0 0.5em 0;
    margin-bottom:1.5em;
	margin-top:0.5em;
	margin-left:32em;
	margin-right:32em;
    width: 15em;
	height:2.3em;
    cursor:pointer;
	font-size:20px;
	font-family:"Times New Roman","Courier New",sans-serif;
	}
	.faqja{
	
	border-radius:15px 15px 0px 0px;
	margin-left:18px;
	margin-right:18px;
	border-color: #000000 #000000 #000000  rgb(254,4,4) #000000;
	border-bottom: 6px solid #800000;
	}
#hr2{
border: 0.5px solid #ECEBEB;
margin-right:25px;
margin-left:25px;
width:95%;

}
